nbproject
.project
.settings
.buildpath
.metadata
wp-admin
wp-includes
wp-*.php
/index.php
xmlrpc.php
.htaccess
readme.html
*.txt

#Not including the static RI site folder
#ri

wp-content/cache
wp-content/uploads
wp-content/w3tc-config
wp-content/advanced-cache.php
wp-content/db.php
wp-content/object-cache.php

wp-content/plugins/*
#include the plugins with a negate pattern (!)
!wp-content/plugins/removals-index-quote-form

wp-content/themes/*
!wp-content/themes/genesis-removals-index


